.task-wrapper {
  max-width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: start;
}

.heading {
  padding-left: 2.5rem;
}
