.task-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 0 1rem;
}

.task-group--hidden {
  height: 3rem;
  overflow: hidden;
}

.task-group--visible {
  height: auto;
}

.task-group-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

.heading {
  flex-grow: 3;
  text-align: start;
  max-width: 20rem;
}

.heading--complete {
  color: #52b599;
}
.show {
  flex-grow: 10;
  text-align: end;
  color: rgb(153, 153, 153);
}

.clipboard {
  flex-grow: 0;
}

.clipboard--complete {
  height: 1rem;
  color: green;
}

.clipboard--incomplete {
  height: 1rem;
}
