.task-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid rgb(230, 230, 230);
  margin: 0 1rem;

  animation: fadeInFromTop 1s forwards;
}

.task-group:first-of-type {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.task-group:last-of-type {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-bottom: 1rem;
}

.task-group:not(:last-of-type) {
  border-bottom: none;
}

.task-group--hidden {
  height: 3rem;
  overflow: hidden;
}

.task-group--visible {
  height: auto;
}

.task-group-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  gap: 0.5rem;
}

.heading {
  flex-grow: 3;
  text-align: start;
  max-width: 20rem;
}

.heading--complete {
  color: #52b599;
}
.show {
  font-size: 0.8rem;
  flex-grow: 10;
  text-align: end;
  color: rgb(153, 153, 153);
  height: 1rem;
}

.clipboard {
  flex-grow: 0;
}

.clipboard--complete {
  height: 1rem;
  color: green;
}

.clipboard--incomplete {
  height: 1rem;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
